rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ACCOUNTS
    match /accounts/{accountId} {
      // Allow users to read, update, and delete their own accounts.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow users to create an account IF the new document's userId matches their own.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // TRANSACTIONS
    match /transactions/{transactionId} {
      // Allow users to read, update, and delete their own transactions.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow users to create a transaction IF the new document's userId matches their own.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
